version: 2.1
orbs:
  cypress: cypress-io/cypress@6.0.0

workflows:
  pipeline:
    jobs:
      # ŚRODOWISKO DEV
      - cypress/run:
          name: "Testy na DEV"
          # W v6 używamy start-command
          start-command: npm run start:dev        
          wait-on: "http://localhost:3000"
          browser: chrome
          filters:
            branches:
              ignore: main

      # ŚRODOWISKO PREPROD
      - cypress/run:
          name: "Testy na PREPROD"
          # Jeśli używasz cypress-command, parametry przeglądarki dopisz w komendzie
          cypress-command: npx cypress run --browser chrome --config baseUrl=http://preprod.twoja-apka.pl
          filters:
            branches:
              only: main

      # ŚRODOWISKO PROD
      - hold:
          type: approval
          requires:
            - "Testy na PREPROD"
      - cypress/run:
          name: "Testy na PROD"
          cypress-command: npx cypress run --browser chrome --config baseUrl=http://www.twoja-apka.pl
          requires:
            - hold