version: 2.1
orbs:
  cypress: cypress-io/cypress@3

workflows:
  pipeline:
    jobs:
      # ŚRODOWISKO DEV (Uruchamia się na każdym PR)
      - cypress/run:
          name: "Testy na DEV"
          start-command: npm run start:dev
          wait-on: "http://localhost:3000"
          filters:
            branches:
              ignore: main

      # ŚRODOWISKO PREPROD (Tylko po merge do main)
      - cypress/run:
          name: "Testy na PREPROD"
          # Symulujemy uderzenie w działający serwer preprodukcyjny
          # W realu tutaj byłby adres Twojego serwera stagingowego
          cypress-command: npx cypress run --config baseUrl=http://preprod.twoja-apka.pl
          filters:
            branches:
              only: main

      # ŚRODOWISKO PROD (Wymaga ręcznego potwierdzenia)
      - hold:
          type: approval
          requires:
            - "Testy na PREPROD"
      - cypress/run:
          name: "Testy na PROD"
          cypress-command: npx cypress run --config baseUrl=http://www.twoja-apka.pl
          requires:
            - hold