version: 2.1
orbs:
  cypress: cypress-io/cypress@6.0.0

workflows:
  pipeline:
    jobs:
      # ŚRODOWISKO DEV
      - cypress/run:
          name: "Testy na DEV"
          start: npm run start:dev        # W v3 używamy 'start' zamiast 'start-command'
          wait-on: "http://localhost:3000"
          browser: chrome
          filters:
            branches:
              ignore: main

      # ŚRODOWISKO PREPROD
      - cypress/run:
          name: "Testy na PREPROD"
          spec: cypress/e2e/** # Opcjonalnie wskaż ścieżkę do testów
          cypress-command: npx cypress run --config baseUrl=http://preprod.twoja-apka.pl
          filters:
            branches:
              only: main

      # ŚRODOWISKO PROD
      - hold:
          type: approval
          requires:
            - "Testy na PREPROD"
      - cypress/run:
          name: "Testy na PROD"
          cypress-command: npx cypress run --config baseUrl=http://www.twoja-apka.pl
          requires:
            - hold