version: 2.1
orbs:
  cypress: cypress-io/cypress@6.0.0

workflows:
  pipeline:
    jobs:
      # ŚRODOWISKO DEV
      - cypress/run:
          name: "Testy na DEV"
          start-command: npm run start:dev
          cypress-command: npx wait-on@latest http://localhost:3000 && npx cypress run --browser electron
          filters:
            branches:
              ignore: main

      # ŚRODOWISKO PREPROD
      - cypress/run:
          name: "Testy na PREPROD"
          cypress-command: npx cypress run --electron chrome --config baseUrl=http://preprod.twoja-apka.pl
          filters:
            branches:
              only: main
      # ŚRODOWISKO PROD - Manual approval required
      - hold:
          type: approval
          requires:
            - "Testy na PREPROD"
      - cypress/run:
          name: "Testy na PROD"
          cypress-command: npx cypress run --electron chrome --config baseUrl=http://www.twoja-apka.pl
          requires:
            - hold